<div>
  <div class="header" >
    <h4 class="title">销售数据录入 Add Sales Record</h4>
  </div>
  <hr>
  <!-- <pre>
    {{oneRecord | json}}
  </pre> -->
  <div class="form-group" style="display: inline-block;">
    <label>销售姓名 Sales Name</label>
    <input [(ngModel)]="oneRecord.saleName" class="form-control" placeholder='Sales Name' />
  </div>
  &nbsp;
  <div class="form-group" style="display: inline-block;">
    <label>债券类型 Bond Name</label>
    <input [(ngModel)]="oneRecord.bondName" class="form-control" placeholder='Bond Name' />
  </div>
  &nbsp;
  <div class="form-group" style="display: inline-block;">
    <label>起始日期 Create Date</label>
    <div class="input-group">
      <input [(ngModel)]="oneRecord.createdAt" class="form-control" placeholder="YYYY-MM-DD" name="dp" ngbDatepicker
        #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <!-- calendar icon -->
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
            <path fill-rule="evenodd"
              d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  &nbsp;
  <div class="form-group" style="display: inline-block;">
    <label>金额 Amount</label>
    <div class="input-group">
      <input [(ngModel)]="oneRecord.amount" class="form-control" placeholder="0" />
    </div>
  </div>
  <br>
  <button (click)="addData()" type="submit" class="btn btn-primary">提交 Submit</button>
  <p id="message" style="color:red; position: relative; bottom:-5px">{{message}}</p>
  <hr>
  <div>
    <input [(ngModel)]="fileUrl" type="file" style="display: inline-block; width:220px"/>
    <button (click)="uploadFile()" type="submit" class="btn btn-primary"style="display: inline-block;">导入 Import</button>
  </div>

</div>
