<div style="display:inline-block;">
  <div class="header">
    <h4 class="title">统计 Statistics</h4>
  </div>
  <hr>
  <input [(ngModel)]="fileUrl" type="file" />
  <br><br>
  <button (click)="uploadFile()" type="submit" class="btn btn-primary">上传 Upload</button>
  <br><br>
  <button (click)="groupByName()" type="submit" class="btn btn-primary">按销售姓名生成报表<br>Generate Report By Sales Name</button>
  <br><br>
  <button (click)="groupByCreateDate()" type="submit" class="btn btn-primary">按初始日期生成报表<br>Generate Report By Create Date</button>

  <p id="message" style="position: relative; bottom:-5px">{{message}}</p>
  <p id="messageErr" style="color:red; position: relative; bottom:-5px">{{messageErr}}</p>
</div>

<div style="display:inline-block;" id="displayTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{ field1 }}</th>
        <th scope="col">{{ field2 }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of tableResult; index as i">
        <td>{{ record.key }}</td>
        <td>${{ record.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
