<div>
  <div class="header">
    <h4 class="title">统计 Statistics</h4>
  </div>
  <hr>
  <div>
    <div>
      <input [(ngModel)]="fileUrl" type="file" style="display: inline-block; width:220px"/>
      <button (click)="uploadFile()" type="submit" class="btn btn-primary"style="display: inline-block;">导入 Import</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button (click)="groupByName()" type="submit" class="btn btn-primary"
        style="display: inline-block;">按销售姓名生成报表<br>Report By Sales Name</button>
      &nbsp;&nbsp;&nbsp;
      <button (click)="groupByCreateDate()" type="submit" class="btn btn-primary"
        style="display: inline-block;">按初始日期生成报表<br>Report By Create Date</button>

    </div>
    <p id="messageUpload" style="position: relative; bottom:-5px">{{messageUpload}}</p>
    <p id="messageErr" style="color:red; position: relative; bottom:-5px">{{messageErr}}</p>
  </div>
</div>

<div id="displayTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{ field1 }}</th>
        <th scope="col">{{ field2 }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of tableResult; index as i">
        <td>{{ record.key }}</td>
        <td>${{ record.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
