<div class="header">
  <h4 class="title">报表查询<br>Report Inquiry</h4>
</div>
<div class="form-group">
  <label>销售姓名 Sales Name</label>
  <select class="form-control" placeholder='Ruby'>
    <option>Tom</option>
    <option>Jerry</option>
    <option>Ruby</option>
  </select>
</div>
<div class="form-group">
  <label>债券类型 Bond Name</label>
  <select class="form-control" placeholder='Bond A'>
    <option>Bond A</option>
    <option>Bond B</option>
    <option>Bond C</option>
  </select>
</div>
<div class="form-group">
  <label>开始日期 Start Date</label>
  <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d1="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
        <!-- calendar icon -->
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
          <path fill-rule="evenodd"
            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </svg>
      </button>
    </div>
  </div>
</div>
<button type="submit" class="btn btn-primary">提交</button>

<table class="table table-striped">
  <thead>
  <tr>
    <!-- <th scope="col">#</th> -->
    <th scope="col">ID</th>
    <th scope="col">Sales Name</th>
    <th scope="col">Bond Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of sales; index as i">
    <!-- <th scope="row">{{ i + 1 }}</th> -->
    <td>{{ record.id }}</td>
    <td>{{ record.sales_name }}</td>
    <td>{{ record.bond_name}}</td>
  </tr>
  </tbody>
</table>
