<div class="container">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-outline-primary" routerLink='/login'>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
      <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
      <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
    </svg> 登录 Login</button>
  &nbsp;
  <button class="btn btn-outline-primary" routerLink='/register'>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
      <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
    </svg> 注册 Register</button>
  <br><br>
  <div style="text-align: center">
    <h5 style='font-style:italic; font-weight:bold;'>欢迎使用债券销售管理系统<br>Welcome!</h5>
    <p>
      本债券销售管理系统可供以下功能：<br>
      - 销售数据录入<br>
      - 报表查询<br>
      - 统计<br>
      请先登录!</p>
    <p>
      Features available in this Bond Sales Management System:<br>
      - Add Sales Record<br>
      - Report Inquiry<br>
      - Statistics<br>
      Please login to continue...
    </p>
  </div>
  <div style="color: grey; text-align: center">
    <p>
      Copyright ©2020 Citi GFT SH Group 4. All rights reserved.
    </p>
  </div>
</div>
