<div class="container">
  <p>欢迎使用债券销售管理系统</p>
  <p>
    本债券销售管理系统可供以下功能：<br>
    - 销售数据录入<br>
    - 报表查询<br>
    - 统计
  </p>
  <p>
    Features available in this Bond Sales Management System:<br>
    - Add Sales Record<br>
    - Report Inquiry<br>
    - Statistics
  </p>
  <p>
    请先登录～<br>
    Please login to continue...
  </p>
  <!-- <app-login></app-login> -->
  <button class="btn btn-lg btn-outline-primary" routerLink='/login'>用户登录 Login</button>
  <button class="btn btn-lg btn-outline-primary" routerLink='/register'>用户注册 Register</button>
</div>
